<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    {% if session.user_id %}
    
    <h1>Welcome, <a href="/user/{{ session.user_id }}" > {{ session.username }}</a></h1>
    {% endif %}

    {% if session.user_id %}
        <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search books">
        <button type="submit">Search</button>
        </form>
        <a href="/new_book"><button>New Book</button></a>
        <a href="/logout"><button>Logout</button></a>
    {% else %}
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
    {% endif %}
    
    <h2>Your Books</h2>
    {% if user_books%}
        <ul>
        {% for book in user_books %}
        <li>
            {{ book.title }} - {{ book.author }}
            <span> <a href="/user/{{ book.user_id }}">{{ book.username }}</a>)</span>
            <form method="GET" action="/edit_book/{{ book.id }}" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" class="button">Edit</button>
            </form>
            <form method="POST" action="/delete_book/{{ book.id }}" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this book?')">Delete</button>
            </form>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books added yet.</p>
    {% endif %}
    
 <h2>Books added by other users</h2>
<ul>
  {% for b in all_books %}
    <li>
      <a href="/user/{{ b.owner_id }}">{{ b.username }}</a>:
      {{ b.title }} by {{ b.author }}
      {% if b.rating %} - Rated: {{ b.rating }}/5 {% endif %}
    </li>
  {% else %}
    <li>No books from other users.</li>
  {% endfor %}
</ul>
</body>
</html>
