<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <h1>Welcome, {{ session['username'] }}!</h1>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>

    <a href="{{ url_for('add_book_page') }}">
    <button>Add New Book</button>
</a>

    <h2>Your Books</h2>
    {% if user_books%}
        <ul>
            {% for book in user_books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.author }}  
                    {% if book.rating %} - Rated: {{ book.rating }}/5 {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books added yet.</p>
    {% endif %}

    <h2> Books added by other users</h2>
    {%if all_books %}
        {% set current_user = None %}
        <ul>
        {% for book in all_books %}
            {% if current_user != book.username %}
                <h3>{{ book.username }}:</h3>
                {% set current_user = book.username %}
            {% endif %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }}  
                {% if book.rating %} - Rated: {{ book.rating }}/5 {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No books from other users yet. </p>
    {% endif %}
</body>
</html>
