<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Book</title>
</head>
<body>

  <h1>Muokkaa kirjaa</h1>
  <a href="/dashboard"><button>Takaisin pääsivulle</button></a>

  {% with msgs = get_flashed_messages(with_categories=True) %}
    {% if msgs %}
      <ul>
        {% for cat, msg in msgs %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="/edit_book/{{ book.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <p>Title:
      <input type="text" id="title" name
